{# {% extends 'baseFront.html.twig' %}

{% block title %}Produit{% endblock %}
{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CatId</th>
                <th>ImageProd</th>
                <th>NomProd</th>
                <th>PrixProd</th>
                <th>DescriptionProd</th>
                <th>QuantiteProd</th>
                <th>UserId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.categorie }}</td>
                <td>{{ produit.imageProd }}</td>
                <td>{{ produit.nomProd }}</td>
                <td>{{ produit.prixProd }}</td>
                <td>{{ produit.descriptionProd }}</td>
                <td>{{ produit.quantiteProd }}</td>
                <td>{{ produit.userId }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a class="btn btn-danger" href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %} #}

{% extends 'baseFront.html.twig' %}

{% block body %}

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title"> Listes des produits </strong>
                        </div>

                        <div class="card-body">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">

                                <a href="{{ path('produit_new') }}" class="btn btn-outline-secondary">Ajouter un nouveau produit</a>
                                {# <a href="{{ path('produit_listp') }}" class="btn btn-outline-danger">Liste des produits en PDF</a> #}


                                <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('_search') }}">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search" name ="search">
                                        <span class="input-group-btn">
                                     <button type="submit" class="btn btn-default"></button>
                                         </span>
                                    </div>
                                </form>


                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Image produit</th>
                                    <th>Nom produit</th>
                                    <th>Prix produit</th>
                                    <th>Description produit</th>
                                    <th>Quantite produit</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for produit in produits %}
                                    <tr>
                                        <td><a href="{{ path('produit_show', { 'id': produit.id }) }}" style="width:50px;height: 50px;">{{ produit.id }}</a></td>
                                        <td> <img src="{{ asset('images/') }}{{ produit.imageProd }} "></td>
                                        <td>{{ produit.nomProd }}</td>
                                        <td>{{ produit.prixProd }}</td>
                                        <td>{{ produit.descriptionProd }}</td>
                                        <td>{{ produit.quantiteProd }}</td>
                                        <td>
                                            <a href="{{ path('produit_show', { 'id': produit.id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            <a href="{{ path('produit_edit', { 'id': produit.id }) }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>

                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
    <ul>
        <li>

        </li>
    </ul>



{% endblock %}



